# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("string", 123, True, 1.23)

string 123 True 1.23

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [17]:
print("hello", 10, True, 10.5, sep="-")

hello-10-True-10.5

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [21]:
print("hi_there", 123, True, 2.35)

hi_there 123 True 2.35

4) Can a python print function take no value to print???

#### Yes the functino print() can be used by passing with no arguments and it will print an empty line. It is used to increase readability.

In [28]:
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [56]:
name = "Ahmad"
age = 30
profession = "Lawyer"
bachelor_degree_year = 2005
law_firm = "The Himalya Associates"
location = "Karachi"
years_with_firm = 2024-2005   #assuming the current year is 2024
built = "handsome"
height_feet = 5.10
weight_grams = 70600
monthly_income_pkr = 200000
current_year = 2024
time_since_bachelor_degree = current_year-bachelor_degree_year
print(f"It has been {time_since_bachelor_degree} years since Mr. Ahmed's bachelor's degree.")

It has been 19 years since Mr. Ahmed's bachelor's degree.

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [58]:
print(f"it has been {years_with_firm} years Mr. Ahmed has been working with the Himalaya Associates")

it has been 19 years Mr. Ahmed has been working with the Himalaya Associates

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [72]:
exchange_rate = 280
monthly_income_usd = monthly_income_pkr/exchange_rate
print(f"the monthly income of Ahmad is {monthly_income_usd:.2f} USD")

the monthly income of Ahmad is 714.29 USD

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [35]:
if isinstance(monthly_income_usd, float):
     monthly_income_usd = int(monthly_income_usd)
print(f"the monthly income of Ahmad is {monthly_income_usd:} USD")

the monthly income of Ahmad is 714 USD

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [19]:
# Example weight of Mr. Ahmed in pounds (you can change this to test)
weight_grams = 70600
# Print the type of Mr. Ahmed's weight
print(f" Type of Mr. Ahmed's weight:", type(weight_grams))

# Convert weight to kilograms (1 g = 0.001 kg)
weight_in_kg = weight_grams * 0.001

# Convert the weight in kg to an integer
weight_in_kg = int(weight_in_kg)

# Print Mr. Ahmed's weight in kg as an integer
print(f"Mr. Ahmed's weight in kg {weight_in_kg}kg" )

 Type of Mr. Ahmed's weight: <class 'int'>
Mr. Ahmed's weight in kg 70kg

In [1]:
#11) print the year of birth of Mr. Ahmed.

In [23]:
#type your code here
current_year = 2024
Birth_Year = current_year-30
print(f" The birth year of Mr. Ahmad is {Birth_Year}" )

 The birth year of Mr. Ahmad is 1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [31]:
total_money = 100
No_of_students = 6
if total_money/No_of_students == 0:
    print ("Yes Rs. 100 can be equally divided into 6 students")
else: print ("No Rs. 100 can't be equally divided into 6 students")

No Rs. 100 can't be equally divided into 6 students