# Topic : print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [63]:
print("Kashif Ali", 100, True, 14.8)

Kashif Ali 100 True 14.8

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [66]:
print("Kashif Ali", 100, True, 14.8, sep = "-")

Kashif Ali-100-True-14.8

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [69]:
print("Kashif", end = " ")
print(100, end = " ")
print(True, end = " ")
print(14.8, end = " ")

Kashif 100 True 14.8

4) Can a python print function take no value to print???

In [72]:
print()

Yes, a python print function shall run even if no value is given to print

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [76]:
friend_name = "Mr. Ahmed"
age = 30
profession = "Lawer"
qualification = "Bachelor"
completion_year = 2005
law_firm = "The Himalya Associates"
city = "Karachi"
working_since = 2015
build = "Handsome"
height_ft = 5.10
weight_grams = 70600
income_pkr = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [79]:
current_year = 2024
completion_year = 2005
total_years = current_year - completion_year
print(f"It has been {total_years} years after his bachelor degree.")

It has been 19 years after his bachelor degree.

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [82]:
total_experience = current_year - working_since
print(f"He has been working in {law_firm} for {total_experience} years.")

He has been working in The Himalya Associates for 9 years.

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [85]:
income_usd = income_pkr / 280
print("Mr. Ahmed's salary is", income_usd, "in dollers")

Mr. Ahmed's salary is 714.2857142857143 in dollers

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [88]:
income_usd = income_pkr / 280
print("Mr. Ahmed's salary is", int(income_usd), "in dollers")

Mr. Ahmed's salary is 714 in dollers

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [96]:
print(type(weight_grams))
weight_kgs = weight_grams / 1000
print("Mr. Ahmed's weight is", int(weight_kgs), "kilograms")

<class 'int'>
Mr. Ahmed's weight is 70 kilograms

In [1]:
#11) print the year of birth of Mr. Ahmed.

In [98]:
year_of_birth = current_year - 30
print("Mr. Ahmed born in", year_of_birth)

Mr. Ahmed born in 1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [118]:
# 100 can't be divided equally among 6 students.
# one_share = 100 / 6 (16.666666666666668)
one_share_rounded = 100 // 6
one_share_rounded

16

In [120]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

0